#OPENAI_API_KEY=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
OPENAI_API_KEY=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